.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  header {
    position: fixed;
    transition: App-logo-spin all 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    margin-left: -450px;
  }
  to {
    margin-left: 450px;
  }
}